/* Body and Key Element Styles */
body {
	background-color: #f46a6a;
	font-size:100%;
	margin: 0 auto;	
	font-family: nobileregular, American Typewriter, sans-serif;
    line-height: 1.5em;
}

#allcontent_mainpage {
	color: #003366;
	width: 1100px;
    margin: 0 auto;
	margin-top: 330px;
}

#allcontent_otherpages {
	color: #003366;
	width: 1100px;
	margin: 0 auto;
}

#header_mainpage {
	position: absolute;
	top: 125px;
	left: 380px;
}


#header_otherpages {
    margin: 0 auto;
	margin-top: 75px;
}

h1{color: black;
	font-size: 27px;
}

.columu{
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
column-count:2;

-moz-column-gap:30px; /* Firefox */
-webkit-column-gap:30px; /* Safari and Chrome */
column-gap:30px;
}	

/*Link Styles*/

a:link {
	color:#2980b9;
}    
a:visited {
	color:#2980b9;
} 
a:hover {
	color:#8e44ad;
}   
a:active {
	color:#8e44ad;
}

/*Content Styles*/
ul{
	list-style: square inside url('images/arrow copy.png');
	color: #2980b9;
	white-space:pre-line;
}

section#top_content {
    background-color: #FFE8C0;
    margin:10px 0px 5px 0px; 
    padding: 20px 30px 20px 30px;
	border-radius:25px;
}

section#left_content {
    background-color: #FFE8C0;
    width: 685px;
	height: 350px;
    padding: 20px 30px 20px 30px;
    float: left;
	border-radius:25px;
	border-right:2px dotted grey;

}


section#right_content{
	background-color:#FFE8C0;
	font-size: 105%;
	width: 293px;
	height: 350px;
    padding: 20px 30px 20px 30px;
    text-align: left;
    float: right;
	border-radius:25px;

}

section#left_content_other {
    background-color: #FFE8C0;
    width: 685px;
	height: 600px;
    padding: 20px 30px 20px 30px;
    float: left;
	border-radius:25px;
    margin-top: 10px;
	border-right:2px dotted grey;

}

section#right_content_other{
	background-color:#FFE8C0;
	font-size: 105%;
	width: 293px;
	height: 600px;
    padding: 20px 30px 20px 30px;
    text-align: left;
    float: right;
	border-radius:25px;
    margin-top: 10px;

}



#tableContainer {
	display: table;
	table-layout: automatic;
}

#tableRow {
	display: table-row;
}


#bottom_images{
	position: absolute;
	top: 1000px;
    bottom:200px; 	
    left: 380px;
	font-size: 110%;
	width: 1100px;
	height: 400px;
	padding: 20px 20px 20px 20px;
    margin: 0 auto;
}




/*Navigation Bar Styles*/
ul#nav{
	list-style: none;
    padding-bottom: 8px;
	font-weight: bold;
	text-align: center;
	font-size:20px; 
	white-space: nowrap;
}

ul#nav li {
	display: inline;
	margin: 0 3px;
}
ul#nav a {
	text-decoration: none;
	padding: 0 0 3px;
	border-bottom: 4px solid #ffffff;
    color: #F7F5F2; 
}

ul#nav a:current {
	border-color: #696969;
	color:#483D8B
}
ul#nav a:hover {
	border-color: #FFA91F;
	color: #ffffff
}


/*Footer Styles*/
#footer-left {
	position: absolute;
	top: 1260px;
	font-size:100%;
	line-height: normal;
	clear: left;
	padding: 15px;
	width: 50%;
	text-align: left;
	width: 1070px;
    height: 50px;
}


#footer-disclaimer{
	position: absolute;
	top: 1330px;
	font-size:60%;
	line-height: normal;
	clear: left;
	padding: 15px;
	text-align: justify;
	width: 1070px;
    height: 50px;
}


#footer-right {
	font-size: 90%;
	line-height: normal;
	float: right;
	text-align: right;
/*	margin-top: 20px;
*/
}



